.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    min-height: 100vh;  
    padding: 40px;

    text-align: center;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #0074ff, #fbfbfb);
}

.cloud {
    font-size: 100px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
}

.cloud-title {
    font-size: 28px;
    
    color: #1f2937;
}

.mood-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    max-width: 7000px;
}

.mood-button {
    font-family: 'Poppins', 'sans-serif';
    background: #f0f8ff;
    border: 2px solid #a1c4fd;
    padding: 18px 20px;
    min-width: 120px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    background: #0074ff;
    color: white;
    border-color: #0074ff;
    border: 2px solid #0074ff;
}

.mood-button:hover {
    background: #a1c4fd;
    color: white;
    transform: translateY(-2px);
}
.submit-mood {
    font-family: 'Poppins', sans-serif; /* Match your h3 font */
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0074ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-mood:hover {
    background-color: #005fd1;
}
  
.custom-mood-input {
    width: 500px;
    max-width: 90%;
    height: 110px;

    margin-top: 30px;
    margin-bottom: 25px;

    padding: 16px;

    border: none;
    border-radius: 18px;

    font-size: 16px;
    font-family: inherit;

    resize: none;

    outline: none;

    background: rgba(255, 255, 255, 0.95);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    transition: all 0.25s ease;
}

.custom-mood-input:focus {
    box-shadow: 0 0 0 4px rgba(40, 120, 255, 0.25);
}

.custom-mood-input::placeholder {
    color: #777;
}

.ai-input-section h3{
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}